/* General */

html,
body {
  overflow: hidden;
}

/* Icons & Images */

.icons {
  color: #fff;
  font-size: 2.5em;
  transition: all .2s;
  -webkit-transition: all .2s;
}

.icons:hover {
  color: #ffffff9a;
}
