/* Layout Styling */

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.spacer {
  margin-bottom: 5em;
}

/* Text Styling */

.title,
.subtitle {
  color: #fff !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  font-weight: normal !important;
}

/* Icon Styling */

.icons {
  color: #fff;
  transition: all .2s;
  font-size: 3em;
  padding: 2px;
}

.icons:hover {
  color: #ffffffab;
  transition: all 0.25s;
  -webkit-transition: all .2s;
}

h1 { font-family: Chewy;}