---
description: Files, software, and more.
icon: fas fa-cloud-download-alt
layout: default
permalink: /downloads/
title: Downloads
---

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container" id="container">
      <div class="columns">
        <div class="column animated fadeInLeft faster">
          <h1 class="title is-size-1">{{page.title}}</h1>
          <p class="subtitle is-size-4">{{page.description}}</p>
        </div>
        <div class="column is-narrow is-hidden-mobile is-hidden-touch animated fadeInRight faster">
          <i class="{{ page.icon }} fa-6x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-centered animated fadeInDown faster">
      <ul>
        {% for d in site.downloads %}
        <li><a href="#{{d.idd}}"><i class="{{ d.icon }} icon is-small"></i>{{ d.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>

<section class="container section">
  {% for d in site.downloads %}
  <a name="{{ d. idd }}"></a>
  <div class="box">
    <p class="title has-text-centered is-size-2">
      <i class="{{ d.icon }}"></i> {{ d.title }}
    </p>
    <hr>
    {{ d.content }}
  </div>
  <br>
  {% endfor %}
  <h1 class="title">Looking for more?</h1>
  <p>Search on your preferred search engine!</p>
</section>