<footer>
  <nav>
  <ul>
    <li><strong>Bob Pony</strong></li>
  </ul>
  <ul>
  <li><a href="https://www.youtube.com/channel/UCAZzz2Dd9Xh6vTjNcxhqPZw" data-tooltip="YouTube"><i class="fab fa-youtube"></i></a></li>
  <li><a href="https://twitter.com/TheBobPony" data-tooltip="Twitter / X"><i class="fab fa-twitter"></i><i class="fab fa-x-twitter"></i></a></li>
  <li><a href="https://www.threads.com/@thebobpony" data-tooltip="Threads"><i class="fab fa-threads"></i></a></li>
  <li><a href="https://bsky.app/profile/bobpony.com" data-tooltip="Bluesky"><i class="fab fa-bluesky"></i></a></li>
  <li><a href="https://discord.gg/tApDzYNwrj" data-tooltip="Discord Server"><i class="fab fa-discord"></i></a></li>
    <li><a role="button" class="secondary" href="https://github.com/TheBobPony/bobpony.com/edit/master/{{ page.path }}"><i class="fa-solid fa-pen-to-square"></i> Edit on GitHub</a></li>
  </ul>
</nav>
  </footer>