<nav class="navbar is-link" role="navigation" aria-label="main navigation">
<div class="container" id="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/img/favicon.png">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Home</span>
        </span>
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-download"></i>
            </span>
            <span>Downloads</span>
          </span>
        </a>
        <div class="navbar-dropdown">
          <a href="https://downloadui.bobpony.com" class="navbar-item">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-download"></i>
              </span>
              <span>Downloader UI</span>
            </span>
          </a>
          <a href="https://dl.bobpony.com" class="navbar-item">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-list"></i>
              </span>
              <span>Directory Listing</span>
            </span>
          </a>
        </div>
      </div>
	  <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-cubes"></i>
            </span>
            <span>More</span>
          </span>
        </a>
        <div class="navbar-dropdown">
		<a href="https://video.bobpony.com" class="navbar-item">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-film"></i>
              </span>
              <span>Video Archives</span>
            </span>
          </a>
          <a href="https://github.com/TheBobPony" class="navbar-item">
            <span class="icon-text">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub profile</span>
            </span>
          </a>
          <a href="https://github.com/TheBobPony/bobpony.com" class="navbar-item">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-code"></i>
              </span>
              <span>View this site on GitHub</span>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <a href="https://www.youtube.com/channel/UCAZzz2Dd9Xh6vTjNcxhqPZw" class="navbar-item has-tooltip-bottom" data-tooltip="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://twitter.com/TheBobPony" class="navbar-item has-tooltip-bottom" data-tooltip="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="/discord" class="navbar-item has-tooltip-bottom" data-tooltip="Discord Server">
        <i class="fab fa-discord"></i>
      </a>
	  <a href="mailto:contact@bobpony.com" class="navbar-item has-tooltip-bottom" data-tooltip="Email">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
  </div>
</nav>