<nav>
  <ul>
	<a href="/" data-tooltip="Return to Home" data-placement="bottom"><img style="width:60px;height:60px;" src="/img/favicon.png"></a>
  </ul>
  <ul>
	<li><a href="/blog"><i class="fa-solid fa-newspaper"></i> Blog</a></li>
    <li><a href="/downloads"><i class="fas fa-download"></i> Downloads</a></li>
	<li><a href="https://status.bobpony.com"><i class="fas fa-arrow-trend-up"></i> Status</a></li>
  </ul>
</nav>
<noscript>
<article><strong><i class="fa-solid fa-triangle-exclamation"></i> JavaScript is disabled, this website may not work correctly!</strong></article>
</noscript>