<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container" id="container">
    <div class="navbar-brand">

        <img width="50" height="50" src="https://yt3.ggpht.com/ytc/AKedOLTj_tKUKaFJaO_XMCdYf_mmck4ULgKrJk4XGsHcAZY=s176-c-k-c0x00ffffff-no-rj">


      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item {% if page.url == "/" %}is-active{% endif %}">
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span>Home</span>
          </span>
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-download"></i>
              </span>
              <span>Downloads</span>
            </span>
          </a>
          <div class="navbar-dropdown">
            <a href="/downloads" class="navbar-item {% if page.url == "/downloads" %}is-active{% endif %}">
              Downloader UI
            </a>
            <a href="https://dl.bobpony.com" class="navbar-item">
              Directory Listing
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-cubes"></i>
              </span>
              <span>More</span>
            </span>
          </a>
          <div class="navbar-dropdown">
            <a href="https://video.bobpony.com" class="navbar-item">
              Video Archives
            </a>
            <a href="https://github.com/TheBobPony" class="navbar-item">GitHub profile</a>
            <a href="https://github.com/TheBobPony/bobpony.com" class="navbar-item">
              Source on GitHub
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <a href="https://www.youtube.com/channel/UCAZzz2Dd9Xh6vTjNcxhqPZw" class="navbar-item has-tooltip-bottom" title="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://twitter.com/TheBobPony" class="navbar-item has-tooltip-bottom" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="/discord" class="navbar-item has-tooltip-bottom" title="Discord Server">
          <i class="fab fa-discord"></i>
        </a>
        <a href="mailto:contact@bobpony.com" class="navbar-item has-tooltip-bottom" title="Email">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</nav>