---
description: Writing about various things
fullurl: https://bobpony.com/blog
layout: default
title: Blog
---

{% include nav.html %}

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container" id="container">
      <div class="columns has-text-white">
        <div class="column animated fadeInLeft faster">
          <h1 class="title is-size-1 has-text-white" style="margin-bottom: 18px;">{{page.title}}</h1>
          <p class="subtitle is-size-4 has-text-white">{{page.description}}</p>
        </div>
        <div class="column is-narrow is-hidden-mobile is-hidden-touch animated fadeInRight faster">
          <i class="fas fa-pen fa-5x"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section animated fadeInUp faster">
  <p class="title is-size-2 has-text-centered"><i class="fas fa-file"></i> Latest Posts</p>
  <div class="columns">
    <div class="column">
      {% for post in paginator.posts %}
      <div class="container box is-centered">
        <div class="columns">
          <div class="column is-narrow is-hidden-mobile is-hidden-touch">
            <i class="{% if post.icon %}{{ post.icon }} fa-5x"></i>{% else %}fas fa-file fa-5x"></i>{% endif %}
          </div>
          <div class="column">
            <p class="subtitle is-size-4"><a href="{{ post.url }}">{{ post.title }}</a></p>
            <p>{{ post.description}}</p>
            <div class="columns">
              <div class="column">
                <p>{{ post.date | date: "%B %d, %Y" }}, posted by {{ post.author }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% capture mod %} {{ forloop.index | modulo: 2 | times: 1 }} {% endcapture %} {% if mod contains "0" %}
      {% endif %} {% endfor %}
    </div>
  </div>
</section>

<section class="container">
  <div class="pagination">
    <nav class="pagination is-centered is-rounded">
      {% if paginator.total_pages > 1 %}
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
        class="pagination-previous"><span class="fas fa-chevron-left fa-lg"></span></a>
      {% else %}
      {% endif %}
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
        class="pagination-next"><span class="fas fa-chevron-right fa-lg"></a>
      {% else %}
      <a disabled class="pagination-next"><span class="fas fa-chevron-right fa-lg"></span></a>
      {% endif %}
      {% for page in (1..paginator.total_pages) %}
      <ul class="pagination-list">
        {% if page == paginator.page %}
        <li><a class="pagination-link is-current">{{ page }}</a></li>
        {% elsif page == 1 %}
        <li><a href="/blog/" class="pagination-link">{{ page }}</a></li>
        {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"
            class="pagination-link">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </nav>
  </div>
</section>
<br>