<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <!-- Resources -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />  {% include head.html %}
  <script src="{{ "/js/nav.js" | prepend: site.baseurl }}"></script>
  <title>{% if page.title %}{{ page.title }} - Bob Pony{% else %}Bob Pony{% endif %}</title>
</head>

<body>
  {% include nav.html %}
  {{ content }}
</body>

</html>