---
fullurl: post.url
layout: default
---

<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container animated fadeIn fast">
      <div class="columns is-desktop is-vcentered is-centered">
        <div class="column is-narrow is-hidden-mobile is-hidden-touch">
          {% for p in site.posts limit: 1 %}
          <i class="{% if p.icon %}{{ p.icon }} fa-6x has-text-white"></i>{% else %} fas fa-file fa-6x"></i> {% endif %}
        </div>
        <div class="column is-narrow">
          <p class="title is-size-2 has-text-white" style="margin-bottom: 15px;">{{ page.title }}</p>
          <p class="subtitle has-text-white" style="margin-bottom: 2px;">{{ page.description }}</p>
          <p class="subtitle has-text-white" style="margin-bottom: 2px;">{{ p.date | date: "%B %d, %Y" }}, posted by {{ p.author }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<section class="section content container post-content" id="container">
  {{ content }}
</section>