<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/css/pico.blue.min.css">
	<link rel="stylesheet" href="/css/all.min.css">
	<title>{% if page.title %}{{ page.title }} - Bob Pony Blog Post{% else %}Bob Pony Blog Post{% endif %}</title>
{% include head.html %}
</head>

<body class="container">
  {% include nav.html %}
  <h1>{{ page.title }}</h1>
  <p><small>Posted on: {{ page.date | date: '%B %d, %Y' }}</small></p>
  <article>
  {{ content }}
  </article>
  <script src="https://giscus.app/client.js"
        data-repo="TheBobPony/bobpony.com"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNDY5MTIzNDA="
        data-category="Blog Comments"
        data-category-id="DIC_kwDODreVVM4C-16T"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% include footer.html %}
</body>

</html>